parameters:

    paths:
        - src/

    level: 6

    ignoreErrors:

    excludePaths:
        - tests/

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false